* {
    margin: 0;
    padding: 0;
}

.main_container {
    height: 100vh;
}

.main_header {
    background-color: #009688;
    height: 280px;
    width: 100%;
        .header_name {
            display: grid;
            justify-items: center;
            color: white;
                > h4 {
                    padding: 20px 0;
                    letter-spacing: 1px;
                    font-size: 18px;
                }
                > h1 {
                    margin-bottom: 40px;
                    font-size: 40px;
                    letter-spacing: 1.5px;
                }
                button {
                    background-color: black;
                    color: white;
                    padding: 15px;
                    border: none;
                    font-size: 20px;
                    font-weight: 900;
                    letter-spacing: 1px;
                        &:hover {
                            background-color: #009688;
                            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        }
                }
        }
    
            i {
                color: white;
                display: inline-block;
                font-size: 24px;
                padding: 20px;
              }
}
.container_info {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas: 
        'responsive standart_css design';
        .responsive {
            padding: 20px 0;
            text-align: center;
            grid-area: responsive;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .standart_css {
            padding: 20px 0;
            text-align: center;
            grid-area: standart_css;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .design {
            padding: 20px 0;
            text-align: center;
            grid-area: design;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        i {
            font-size: 120px;
            margin: 20px 0;
            color: #009688;
        }
        p {
            margin: 16px 0;
        }
}
.container_colors {
        margin: 15px;
        h3 {
            text-align: center;
            font-size: 26px;
            margin-bottom: 10px;
        }
        .color_classes {
            margin-bottom: 30px;
            color: white;
            height: 40px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
                'red1 blue1 blue_grey1 teal1 yellow1 orange1';
            .container_color {
                padding: 15px;
            }
        .red {
            grid-area: red1;
            background-color: #f44336;
            
        }
        .blue {
            grid-area: blue1;
            background-color: #2196F3;
        }
        .blue_grey {
            grid-area: blue_grey1;
            background-color: #607d8b;
        }
        .teal {
            grid-area: teal1;
            background-color: #009688;
        }
        .yellow {
            grid-area: yellow1;
            background-color: #ffeb3b;
            color: black;
        }
        .orange {
            grid-area: orange1;
            background-color: #ff9800;
            color: black;
        }
    }
}
.built_in_responsiveness {
    margin: 15px;
        h3 {
            text-align: center;
            font-size: 26px;
        }
        > p {
            text-align: center;
        }
        .w3_half {
            margin: 20px 0;
            border: 1px solid #ccc;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:  
                'w3_half1 w3_half2';
            p {
                padding: 10px;
            }
            .w3_half1 {
                grid-area: w3_half1;
                background-color: #2196F3;
                color: white;
            }
            .w3_half2 {
                grid-area: w3_half2;
            }
        }
        .w3_third {
            margin: 20px 0;
            border: 1px solid #ccc;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:  
                'w3_third1 w3_third2 w3_third3';
            p {
                padding: 10px;
            }
            .w3_third1 {
                grid-area: w3_third1;
                color: white;
                background-color: #4CAF50;
            }
            .w3_third {
                grid-area: w3_third2;
            }
            .w3_third {
                grid-area: w3_third3;
            }
        }
        .w3_quarter {
            margin: 20px 0;
            border: 1px solid #ccc;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:  
                'w3_quarter1 w3_quarter2 w3_quarter3 w3_quarter4';
            p {
                padding: 10px;
            }
            .w3_quarter1 {
                color: white;
                background-color: #f44336;
                grid-area: w3_quarter1;
            } 
            .w3_quarter2 {
                grid-area: w3_quarter2;
            }
            .w3_quarter3 {
                grid-area: w3_quarter3;
            }
            .w3_quarter4 {
                grid-area: w3_quarter4;
            }
        }
}
.containers {
    margin: 15px;
        p {
            padding: 7px 16px;
        }
        h3 {
            text-align: center;
            font-size: 26px;
        }
        > p {
            text-align: center;
        }
        .header {
            height: 60px;
            background-color: #607d8b;
            color: white;
            font-size: 24px;
        }
        .london {
            padding: 20px 0;
            h4 {
                margin-left: 16px;
                font-size: 26px;
            }
        }
        .footer {
            color: white;
            height: 60px;
            background-color: #607d8b;
                > b {
                    padding: 16px;
                    color: rgb(184, 184, 184);
                }
        }
}
.color_themes {
    margin: 15px;
        > h3 {
            text-align: center;
            font-size: 26px;
            padding: 15px 0;
        }
        > p {
            text-align: center;
        }
        .container_themes {
            gap: 15px;
            margin: 20px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:  
                'theme_indigo theme';
                    .theme_indigo {
                        grid-area: theme_indigo;
                        border: 1px solid #ccc;
                            > h4 {
                                background-color: #3f51b5;
                                padding: 10px 16px;
                                color: white;
                                font-size: 24px;
                            }
                            > h5 {
                                padding: 8px 16px;
                                color: #3f51b5;
                                font-size: 24px;
                            }
                            b {
                                padding: 16px ;
                                font-size: 22px;
                            } 
                            p {
                                padding: 16px;
                                font-size: 18px;
                            }
                            hr {
                                margin-bottom: 16px;
                            }
                            h6 {
                                background-color: #3f51b5;
                                color: white;
                                font-size: 16px;
                                padding: 5px 16px;
                                text-align: end;
                            }
                    }
                    .theme {
                        grid-area: theme;
                        border: 1px solid #ccc;
                            > h4 {
                                background-color: #009688;
                                padding: 10px 16px;
                                color: white;
                                font-size: 24px;
                            }
                            > h5 {
                                padding: 8px 16px;
                                color: #009688;
                                font-size: 24px;
                            }
                            b {
                                padding: 16px ;
                                font-size: 22px;
                            } 
                            p {
                                padding: 16px;
                                font-size: 18px;
                            }
                            hr {
                                margin-bottom: 16px;
                            }
                            h6 {
                                background-color: #009688;
                                color: white;
                                font-size: 16px;
                                padding: 5px 16px;
                                text-align: end;
                            }
                        }
        }
}
.cards_shadow {
    margin: 15px;
        > h3 {
            text-align: center;
            font-size: 22px;
            padding: 16px 0;
        }
        .card {
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            grid-template-areas:  
                'card1 card2 card3';
                    .card1 {
                        grid-area: card1;
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    }
                    .card2 {
                        grid-area: card2;
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    }
                    .card3 {
                        grid-area: card3;
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    }
                    img {
                        width: 100%;
                    }
                    p {
                        padding: 10px 16px;
                    }
        }
}
.tables {
    margin: 15px;
        > h3 {
            text-align: center;
            padding: 10px;
            font-size: 26px;
        }
        > p {
            text-align: center;
            padding: 10px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        thead {
             tr {
                background-color: #009688;
                color: white;
                    th {
                        padding: 10px;
                        text-align: start;
                        }
                }

        }
        tbody {
            tr {
                border-bottom: 1px solid #ddd;
                td {
                    padding: 8px;
                }
            }
        }
}

