* {
  margin: 0;
  padding: 0;
}
.main_container {
  height: 100vh;
  width: auto;
}
.main_header {
  background-color: #009688;
  height: 280px;
  width: 100%;
}
.main_header .header_name {
  display: grid;
  justify-items: center;
  color: white;
}
.main_header .header_name > h4 {
  padding: 20px 0;
  letter-spacing: 1px;
  font-size: 18px;
}
.main_header .header_name > h1 {
  margin-bottom: 40px;
  font-size: 40px;
  letter-spacing: 1.5px;
}
.main_header .header_name button {
  background-color: black;
  color: white;
  padding: 15px;
  border: none;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}
.main_header .header_name button:hover {
  background-color: #009688;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.main_header i {
  color: white;
  display: inline-block;
  font-size: 24px;
  padding: 20px;
}
.container_info {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  grid-template-areas: 'responsive standart_css design';
}
.container_info .responsive {
  padding: 20px 0;
  text-align: center;
  grid-area: responsive;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container_info .standart_css {
  padding: 20px 0;
  text-align: center;
  grid-area: standart_css;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container_info .design {
  padding: 20px 0;
  text-align: center;
  grid-area: design;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container_info i {
  font-size: 120px;
  margin: 20px 0;
  color: #009688;
}
.container_info p {
  margin: 16px 0;
}
.container_colors {
  margin: 15px;
}
.container_colors h3 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
}
.container_colors .color_classes {
  margin-bottom: 30px;
  color: white;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 'red1 blue1 blue_grey1 teal1 yellow1 orange1';
}
.container_colors .color_classes .container_color {
  padding: 15px;
}
.container_colors .color_classes .red {
  grid-area: red1;
  background-color: #f44336;
}
.container_colors .color_classes .blue {
  grid-area: blue1;
  background-color: #2196F3;
}
.container_colors .color_classes .blue_grey {
  grid-area: blue_grey1;
  background-color: #607d8b;
}
.container_colors .color_classes .teal {
  grid-area: teal1;
  background-color: #009688;
}
.container_colors .color_classes .yellow {
  grid-area: yellow1;
  background-color: #ffeb3b;
  color: black;
}
.container_colors .color_classes .orange {
  grid-area: orange1;
  background-color: #ff9800;
  color: black;
}
.built_in_responsiveness {
  margin: 15px;
}
.built_in_responsiveness h3 {
  text-align: center;
  font-size: 26px;
}
.built_in_responsiveness > p {
  text-align: center;
}
.built_in_responsiveness .w3_half {
  margin: 20px 0;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'w3_half1 w3_half2';
}
.built_in_responsiveness .w3_half p {
  padding: 10px;
}
.built_in_responsiveness .w3_half .w3_half1 {
  grid-area: w3_half1;
  background-color: #2196F3;
  color: white;
}
.built_in_responsiveness .w3_half .w3_half2 {
  grid-area: w3_half2;
}
.built_in_responsiveness .w3_third {
  margin: 20px 0;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'w3_third1 w3_third2 w3_third3';
}
.built_in_responsiveness .w3_third p {
  padding: 10px;
}
.built_in_responsiveness .w3_third .w3_third1 {
  grid-area: w3_third1;
  color: white;
  background-color: #4CAF50;
}
.built_in_responsiveness .w3_third .w3_third {
  grid-area: w3_third2;
}
.built_in_responsiveness .w3_third .w3_third {
  grid-area: w3_third3;
}
.built_in_responsiveness .w3_quarter {
  margin: 20px 0;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'w3_quarter1 w3_quarter2 w3_quarter3 w3_quarter4';
}
.built_in_responsiveness .w3_quarter p {
  padding: 10px;
}
.built_in_responsiveness .w3_quarter .w3_quarter1 {
  color: white;
  background-color: #f44336;
  grid-area: w3_quarter1;
}
.built_in_responsiveness .w3_quarter .w3_quarter2 {
  grid-area: w3_quarter2;
}
.built_in_responsiveness .w3_quarter .w3_quarter3 {
  grid-area: w3_quarter3;
}
.built_in_responsiveness .w3_quarter .w3_quarter4 {
  grid-area: w3_quarter4;
}
.containers {
  margin: 15px;
}
.containers p {
  padding: 7px 16px;
}
.containers h3 {
  text-align: center;
  font-size: 26px;
}
.containers > p {
  text-align: center;
}
.containers .header {
  height: 60px;
  background-color: #607d8b;
  color: white;
  font-size: 24px;
}
.containers .london {
  padding: 20px 0;
}
.containers .london h4 {
  margin-left: 16px;
  font-size: 26px;
}
.containers .footer {
  color: white;
  height: 60px;
  background-color: #607d8b;
}
.containers .footer > b {
  padding: 16px;
  color: #b8b8b8;
}
.color_themes {
  margin: 15px;
}
.color_themes > h3 {
  text-align: center;
  font-size: 26px;
  padding: 15px 0;
}
.color_themes > p {
  text-align: center;
}
.color_themes .container_themes {
  gap: 15px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'theme_indigo theme';
}
.color_themes .container_themes .theme_indigo {
  grid-area: theme_indigo;
  border: 1px solid #ccc;
}
.color_themes .container_themes .theme_indigo > h4 {
  background-color: #3f51b5;
  padding: 10px 16px;
  color: white;
  font-size: 24px;
}
.color_themes .container_themes .theme_indigo > h5 {
  padding: 8px 16px;
  color: #3f51b5;
  font-size: 24px;
}
.color_themes .container_themes .theme_indigo b {
  padding: 16px ;
  font-size: 22px;
}
.color_themes .container_themes .theme_indigo p {
  padding: 16px;
  font-size: 18px;
}
.color_themes .container_themes .theme_indigo hr {
  margin-bottom: 16px;
}
.color_themes .container_themes .theme_indigo h6 {
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  padding: 5px 16px;
  text-align: end;
}
.color_themes .container_themes .theme {
  grid-area: theme;
  border: 1px solid #ccc;
}
.color_themes .container_themes .theme > h4 {
  background-color: #009688;
  padding: 10px 16px;
  color: white;
  font-size: 24px;
}
.color_themes .container_themes .theme > h5 {
  padding: 8px 16px;
  color: #009688;
  font-size: 24px;
}
.color_themes .container_themes .theme b {
  padding: 16px ;
  font-size: 22px;
}
.color_themes .container_themes .theme p {
  padding: 16px;
  font-size: 18px;
}
.color_themes .container_themes .theme hr {
  margin-bottom: 16px;
}
.color_themes .container_themes .theme h6 {
  background-color: #009688;
  color: white;
  font-size: 16px;
  padding: 5px 16px;
  text-align: end;
}
.cards_shadow {
  margin: 15px;
}
.cards_shadow > h3 {
  text-align: center;
  font-size: 22px;
  padding: 16px 0;
}
.cards_shadow .card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-template-areas: 'card1 card2 card3';
}
.cards_shadow .card .card1 {
  grid-area: card1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cards_shadow .card .card2 {
  grid-area: card2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cards_shadow .card .card3 {
  grid-area: card3;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cards_shadow .card img {
  width: 100%;
}
.cards_shadow .card p {
  padding: 10px 16px;
}
.tables {
  margin: 15px;
}
.tables > h3 {
  text-align: center;
  padding: 10px;
  font-size: 26px;
}
.tables > p {
  text-align: center;
  padding: 10px;
}
.tables table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.tables thead tr {
  background-color: #009688;
  color: white;
}
.tables thead tr th {
  padding: 10px;
  text-align: start;
}
.tables tbody tr {
  border-bottom: 1px solid #ddd;
}
.tables tbody tr td {
  padding: 8px;
}
.forms_lists {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  grid-template-areas: 'forms_header forms_header' 'input_form lists';
}
.forms_lists .forms_header {
  grid-area: forms_header;
  text-align: center;
  padding: 8px 0;
}
.forms_lists .forms_header h3 {
  padding-top: 20px;
  font-size: 26px;
}
.forms_lists .input_form {
  grid-area: input_form;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  grid-template-areas: 'container_form container_form' 'checkbox radio';
}
.forms_lists .input_form .container_form {
  grid-area: container_form;
  margin: 16px 16px 0 16px;
}
.forms_lists .input_form .container_form h4 {
  font-size: 24px;
  margin-bottom: 10px;
}
.forms_lists .input_form .container_form input {
  width: 100%;
  height: 28px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.forms_lists .input_form .container_form p {
  margin-bottom: 12px;
}
.forms_lists .input_form .checkbox {
  grid-area: checkbox;
  margin: 8px 8px 8px 16px;
}
.forms_lists .input_form .checkbox .check {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}
.forms_lists .input_form .radio {
  grid-area: radio;
  margin: 8px 8px 8px 16px;
}
.forms_lists .input_form .radio .radio_icon {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}
.forms_lists .lists {
  grid-area: lists;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.forms_lists .lists .lists_form {
  margin: 16px;
}
.forms_lists .lists .lists_form h4 {
  font-size: 24px;
}
.forms_lists .lists .lists_form ul {
  list-style: none;
}
.forms_lists .lists .lists_form ul li {
  padding: 8px 16px;
}
.forms_lists .lists .lists_form .list_top {
  margin-bottom: 40px;
}
.forms_lists .lists .lists_form .list_bottom {
  border: 1px solid #ddd;
}
.forms_lists .lists .lists_form .list_bottom .jill {
  background-color: #009688;
  color: white;
}
.forms_lists .lists .lists_form .list_bottom .eve:hover {
  background-color: #ddd;
}
.forms_lists .lists .lists_form .list_bottom .adam:hover {
  background-color: #ddd;
}
.forms_lists .lists .lists_form .list_bottom .steve:hover {
  background-color: #ddd;
}
.skill {
  width: 100%;
  margin: 15px;
}
.skill button {
  padding: 8px 16px;
  background-color: #009688;
  margin-top: 20px;
  color: white;
  border: none;
  font-size: 14px;
}
.skill_bar {
  height: 20px;
  background-color: red;
  margin-right: 15px;
}
.skill_per {
  height: 20px;
  background-color: green;
  position: relative;
  animation: fillbars 2.5s 1;
}
.slideshows {
  margin: 15px;
  text-align: center;
}
.slideshows img {
  width: 80%;
}
.navigation {
  overflow: hidden;
  background-color: #009688;
}
.navigation a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar {
  overflow: hidden;
  background-color: #009688;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ccc;
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.footer2 {
  background-color: #01554d;
  color: white;
  width: 100%;
  padding-bottom: 8px;
}
.footer2 h3 {
  margin: 15px;
  padding-top: 16px;
}
.footer2 p {
  margin: 15px;
}
.footer2 p a {
  color: white;
}
.footer2 p .reference {
  display: inline-block;
  padding: 8px 16px;
  margin-left: 8px;
  background-color: #009688;
}
.footer2 p .reference:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@keyframes fillbars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .container_info {
    min-width: 600px;
    grid-template-columns: 1fr;
    grid-template-areas: 'responsive' 'standart_css' 'design';
  }
  .container_colors {
    margin-bottom: 260px;
  }
  .container_colors .color_classes {
    grid-template-columns: 1fr;
    grid-template-areas: 'red1' 'blue1' 'blue_grey1' 'teal1' 'yellow1' 'orange1';
  }
  .built_in_responsiveness .w3_half {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 'w3_half1' 'w3_half2';
  }
  .built_in_responsiveness .w3_third {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: 'w3_third1' 'w3_third2' 'w3_third3';
  }
  .built_in_responsiveness .w3_quarter {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-template-areas: 'w3_quarter1' 'w3_quarter2' 'w3_quarter3' 'w3_quarter4';
  }
  .color_themes .container_themes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'theme_indigo' 'theme';
  }
  .cards_shadow .card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'card1' 'card2' 'card3';
  }
  .forms_lists {
    grid-template-columns: 1fr;
    grid-template-rows: 7% 1fr 1fr;
    grid-template-areas: 'forms_header' 'input_form' 'lists';
  }
}
